.home-container h1 {
  color: blue
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-image {
  width: 40%;
  max-width: 60%;
  height: 150px;
  object-fit: cover;
}

.modal-content h2 {
  font-size: 16px;

  
}


